<!-- index.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footlaces - Inicio</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <script src="/javascript/carrusel.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script src="/javascript/wishlist.js"></script>
  <link rel="stylesheet" href="/stylesheets/header.css">

</head>
<body>
  
  <%- include('partials/header') %>
  <main>

  
    <div class="carrusel">
      <div class="carrusel-imagenes">
        <img src="/images/foto1.webp" alt="Foto 1">
        <img src="/images/foto2.jpg" alt="Foto 2">
        <img src="/images/foto3.jpg" alt="Foto 3">
        <img src="/images/foto4.png" alt="Foto 4">
      </div>
      <button class="flecha izquierda">&#x276E;</button>
      <button class="flecha derecha">&#x276F;</button>
    </div>

    <section class="new-in-section">
      <b><h1 class="titulo-new-in">NEW IN</h1></b>
      <div class="productos-grid">
        <% productos.slice(0, 5).forEach(producto => { %>
          <a href="/producto/<%= producto._id %>" class="card-producto-link">
            <div class="card-producto">
              <span class="etiqueta-tiempo">NUEVO</span>
              <% if (user) { %>
                <% const liked = user?.wishlist?.some(p => p.toString() === producto._id.toString()); %>
                <button class="btn-like" data-id="<%= producto._id %>">
                  <i class="<%= liked ? 'fas' : 'far' %> fa-heart"></i>
                </button>
              <% } %>
              <img src="<%= producto.imagenes[0] %>" alt="<%= producto.nombre %>" class="img-producto">
              <h3 class="nombre-producto"><%= producto.nombre %></h3>
              <%
                let precios = producto.tallas.map(t => t.precio);
                let precioMinimo = Math.min(...precios);
              %>
              <p class="precio-producto">Desde <%= precioMinimo %>€</p>
            </div>
          </a>
        <% }) %>
      </div>
    </section>

    <section class="new-in-section">
      <B><h1 class="titulo-new-in">BESTS SELLERS</h1></B>
      <div class="productos-grid">
        <% bestSellers.slice(0, 5).forEach(producto => { %>
          <a href="/producto/<%= producto._id %>" class="card-producto-link">
            <div class="card-producto">
              <span class="etiqueta-tiempo">best seller</span>
              <br>
              <span class="etiqueta-vintage">buy now</span>
              <% if (user) { %>
                <% const liked = user?.wishlist?.some(p => p.toString() === producto._id.toString()); %>
                <button class="btn-like" data-id="<%= producto._id %>">
                  <i class="<%= liked ? 'fas' : 'far' %> fa-heart"></i>
                </button>
              <% } %>
              <img src="<%= producto.imagenes[0] %>" alt="<%= producto.nombre %>" class="img-producto">
              <h3 class="nombre-producto"><%= producto.nombre %></h3>
              <%
                let precios = producto.tallas.map(t => t.precio);
                let precioMinimo = Math.min(...precios);
              %>
              <p class="precio-producto">Desde <%= precioMinimo %>€</p>
            </div>
          </a>
        <% }) %>
      </div>
    </section>
    
    <section class="new-in-section">
      <b><h1 class="titulo-new-in">OFERTAS</h1></b>
      <div class="productos-grid">
        <% ofertas.slice(0, 5).forEach(producto => { %>
          <a href="/producto/<%= producto._id %>" class="card-producto-link">
            <div class="card-producto">
              <span class="etiqueta-tiempo oferta">Oferta</span>
              <% if (user) { %>
                <% const liked = user?.wishlist?.some(p => p.toString() === producto._id.toString()); %>
                <button class="btn-like" data-id="<%= producto._id %>">
                  <i class="<%= liked ? 'fas' : 'far' %> fa-heart"></i>
                </button>
              <% } %>
              <img src="<%= producto.imagenes[0] %>" alt="<%= producto.nombre %>" class="img-producto">
              <h3 class="nombre-producto"><%= producto.nombre %></h3>
              <%
                let precios = producto.tallas.map(t => t.precio);
                let precioMinimo = Math.min(...precios);
              %>
              <p class="precio-producto">
                <span class="precio-original"><%= producto.precioAnterior %>€</span>
                <span class="precio-oferta">Desde <%= precioMinimo %>€</span>
              </p>
            </div>
          </a>
        <% }) %>
      </div>
      <div class="ver-todas-container">
        <a href="/ofertas" class="btn-ver-todas">Ver todas las ofertas</a>
      </div>
      
    </section>
    
  </main>
  <%- include('partials/footer') %>

</body>
